<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/ESH/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ESH/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/ESH/assets/css/component.css">
    <link rel="stylesheet" href="/ESH/assets/css/style.css">
  </head>
  <body>

    <div id="warpper">
      <div id="bg" class="modeInfo-bg"></div>
      <header>
        <div class="">
          <div class="backBtn" onclick="history.back();">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
          <div class="title">
            头痛-头后半部分痛
          </div>
        </div>
      </header>
      <section id="modeInfo">
        <div class="modeInfoWarpper">
          <div class="img">
            <div class="pinch-zoom">
              <!-- <img src="/ESH/assets/images/x.png"/>
              <img src="/ESH/assets/images/x.png"/> -->
              <?php for($i=0; $i < count($result); $i++){ ?>
                  <?php if($i==($treatMode-1)){ ?>
                    <?php for($j=0; $j < count($result[$i]['ap_info']); $j++){ ?>
                    <img src="<?php echo $result[$i]['ap_info'][$j]['ap_image_address'] ?>"/> 
                    <?php } ?>
                  <?php } ?>
              <?php } ?>
            </div>
          </div>
          <div class="nav">
            <div class="menu">
              <ul>
                <?php for($i=0; $i < count($result); $i++){ ?>
                  <?php if($i==($treatMode-1)){ ?>
                    <a href="/ESH/index.php/mode/mode/mode_info/<?php echo $disease_id ?>/<?php echo $i+1 ?>"><li value="<?php echo $result[$i]['suggestion_id']?>" class="active"><?php echo $result[$i]['suggestion_name'] ?></li></a>
                  <?php }else{ ?>
                    <a href="/ESH/index.php/mode/mode/mode_info/<?php echo $disease_id ?>/<?php echo $i+1 ?>"><li value="<?php echo $result[$i]['suggestion_id']?>"><?php echo $result[$i]['suggestion_name'] ?></li></a>
                  <?php } ?>
                <?php } ?>
              </ul>
            </div>
            <div class="intruduce">
                <?php for($i=0; $i < count($result); $i++){ ?>
                  <?php if($i==($treatMode-1)){ ?>
                    <div class="intruduce_content">
                      <?php echo $result[$i]['suggextion_context'] ?>
                    </div>
                  <?php } ?>
                <?php } ?>
            </div>
          </div>
          <div class="start">
            <button>开始治疗</button>
          </div>
        </div>
        <div id="hide">
          隐藏
        </div>
      </section>
    </div>

    <script src="/ESH/assets/js/jquery.min.js"></script>
    <script src="/ESH/assets/js/bootstrap.min.js"></script>
    <script src="/ESH/assets/js/oha/jquery.cookie.js"></script>
    <script src="/ESH/assets/js/oha/oha_config.js"></script>
    <script src="/ESH/assets/js/oha/oha_api.js"></script>
    <script src="/ESH/assets/js/oha/oha_timer.js"></script>
    <script src="/ESH/assets/js/classie.js"></script>
    <script src="/ESH/assets/js/pinchzoom.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".start").css("line-height", $(".start").css("height"));
        $(window).resize(function(){
          $(".start").css("line-height", $(".start").css("height"));
        });
        $('.pinch-zoom').each(function () {
          new RTP.PinchZoom($(this), {});
        });
      });
    </script>
  </body>
</html>
