<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="/ESH/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ESH/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/ESH/assets/css/component.css">
    <link rel="stylesheet" href="/ESH/assets/css/style.css">
  </head>
  <body>

    <div id="warpper">
      <div id="bg" class="tradeMode-bg"></div>
      <header>
        <div class="">
          <div class="backBtn" onclick="history.back();">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
          <div class="title">
            治疗模式
          </div>
        </div>
      </header>
      <section id="tradeMode">
        
        <ul id="accordion" class="accordion">
        <?php foreach($result as $item){ ?>
        <?php if($item['father_disease_id']==null){ ?>
        <li>
            <div class="link"><i class="fa fa-user"></i><?php echo $item['disease_name'] ?><i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
            <?php foreach($result as $citem){ ?>
              <?php if($citem['father_disease_id']==$item['disease_id']){ ?>
              <li><a href="/ESH/index.php/mode/mode/mode_info/<?php echo $citem['disease_id'] ?>"><?php echo $citem['disease_name'] ?></a></li>
              <?php } ?>
            <?php } ?>
            </ul>
        </li>
        <?php } ?>
        <?php } ?>

      	</ul>

      </section>
    </div>

    <script src="/ESH/assets/js/jquery.min.js"></script>
    <script src="/ESH/assets/js/bootstrap.min.js"></script>
    <script src="/ESH/assets/js/oha/jquery.cookie.js"></script>
    <script src="/ESH/assets/js/oha/oha_config.js"></script>
    <script src="/ESH/assets/js/oha/oha_api.js"></script>
    <script src="/ESH/assets/js/oha/oha_timer.js"></script>
    <script src="/ESH/assets/js/layer/layer.js"></script>
    <script src="/ESH/assets/js/layer/mobile/layer.js" charset="utf-8"></script>
    <script>
      $(document).ready(function(){
        var Accordion = function(el, multiple) {
          this.el = el || {};
          this.multiple = multiple || false;
          var links = this.el.find('.link');
          links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }
        Accordion.prototype.dropdown = function(e) {
          var $el = e.data.el;
          $this = $(this), $next = $this.next();
          $next.slideToggle();
          $this.parent().toggleClass('open');
          if (!e.data.multiple) {
            $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
          };
        }
        var accordion = new Accordion($('#accordion'), false);
      });
    </script>
  </body>
</html>
